!.eslintrc.json
.eslintrc.js
.DS_Store

#IDE
.idea
.vscode

# dependencies
**/node_modules/*
config-overrides.js
tsconfig.json
tsconfig.paths.json

# testing
/coverage

# production
**/dist/*
**/build/*

npm-debug.log*
debug.log*
yarn-debug.log*
yarn-error.log*
